.Rproj.user
.Rhistory
.RData
.Ruserdata
data.R
data.txt
bfg.jar
.RDataTmp
DS_store
texas.Rproj
code/Scratch
code/Analysis/random_forest_params.R
*draft.txt
*.out
*.synctex.gz
*.aux
*.log
*.bbl
*.blg
*.toc
*.snm
*.nav
*.fls
*.fdb_latexmk
*token.rds
*.out
*.err
.httr-oauth
*.fdb_latexmk
*.dvi
Rplots.pdf
*.Rapp.history 
kill_repo_history.bat 
